@charset "UTF-8";

/* brain_partners.css */


/* ===== //wrap ====================================== */
#wrap{position:relative;
			margin:auto;
			width:100%; height:900px; background-color:#333;}
/* ===== //wrap ====================================== */




/* ===== //headBox ====================================== */
/*#headBox*/

/* ===== //headBox ====================================== */




/* ===== //introBox ====================================== */
/*#introBox*/
/* ===== //introBox ====================================== */
  



/* ===== //analysisBox  ====================================== */
/*#analysisBox*/
/* ===== //analysisBox  ====================================== */




/* ===== //docBox ====================================== */
/*#docBox*/
/* ===== //docBox ====================================== */




/* ===== //fam_rateBox ====================================== */
/*#fam_rateBox*/
/* ===== //fam_rateBox ====================================== */




/* ===== //eventBox ====================================== */
/*#eventBox*/
/* ===== //eventBox ====================================== */




/* ===== //footBox ====================================== */
/*#footBox*/
/* ===== //footBox ====================================== */
