/*main.scss
/* main.css */

@import"../set/variable";
@import"../set/funciton"; //함수를 먼저 불러와야 mixin을 쓸 수 있다.
@import"../set/mixin";


//--------------------------------------------------------------------

h2{font-size:$titleFont;}
h3{font-size:$titleFont2;}
h2,h3,h4,h5,h6,p,div,ul,li,ol,dl,dt,dd{font-family:$fontfamily;}

//--------------------------------------------------------------------
#wrap{
	width: 100%; min-width: 1400px;
	height: auto; min-height: 900px;
	margin: auto;
	background-color:$sample;
}


/*popup*/
@import "../parts/popup";

/*design layout*/
@import"../parts/headBox";
@import"../parts/viewBox";
@import"../parts/trendon";
@import"../parts/keyword";
@import"../parts/bestItem";
@import"../parts/hotdeal";
@import"../parts/category";
@import"../parts/sns";
@import"../parts/footBox";
