@charset "UTF-8";

/* brain_partners.css */

@import url("../main-device/p1_base.css");
@import url("../main-device/p1_mobile.css");
@import url("../main-device/p1_tablet.css");
@import url("../main-device/p1_pc.css");
@import url("../main-device/p1_pcfull.css");
