/* rwd_02_pcfull.css */

/* design data : 1440px*/
@media screen
       and (min-width:1440px){
				 
#wrap{position:relative;
					margin:auto;
					max-width: 1920px;
					max-width:160rem;
          height:auto;}
          



          #eventBox{width:1920px; height:300px; background-color:#999;}


          #footBox{width:100%; height:200px; background-color:#bfa;}





/*
					#viewBox {
          max-width:2560px;
          max-width:160rem;
          height:570px;
          height:39.583333vw; 
          min-height: 35.625rem; 
          max-height:810px;
          max-height:50.625rem;}
}
*/
/* @media end */
			 }