@charset "utf-8";

/* zozo_main.css */

/* #wrap ======================================= */
#wrap{position:relative;
	    width:100%; min-width: 1200px; 
	    height:100%; min-height: 900px; 
	    margin:auto; 
	    background-color: #ccf;}

/* #wrap ======================================= */	 



/* #headBox ======================================= */
#headBox{position:absolute; top:0; left:0; z-index:1500;
				 width:100%; height:120px;
				 /* padding:30px 0; */
				 padding:30px 90px;
				 /* padding:1.875rem 4.6875vw; */
				 box-sizing: border-box;
				 border-bottom:2px solid #333;
				 background-color: #fff;
				 box-shadow:0 0 1rem rgba(51,51,51,0.7);
}

h1 {float: left;
	  width:60px; height:60px;
    background-color: #f06;
}

#gnbBox{
	float:right;
	width:60px; height:60px;
}
  .btn_area{
		width:100%; height:100%;
		background-color: #f06;
	}
	
	.btn_area > button {
		width:100%; height:100%;
		background-color: transparent;
	}

	.gnb_menu{
		display: none;
		position: absolute; right:0; top:100%;
		width:100%; height:auto; min-height:700px;
		background-color: #f06;
		background-image: linear-gradient(#f06,#26000f 12%);
	}
	

/*
#headBox:before{content:""; display: block;
	width:100%; height:100%;
	background-color:#acc;
}
*/
/*
.head_full{
	width:90.625%; min-width:1000px; height:100%;
	margin: auto; background-color:#aca;}
*/

/* #headBox ======================================= */


/* #viewBox ======================================= */
#viewBox{padding:150px 90px 100px; box-sizing: border-box;
	       background-color: #fff;} 

#viewBox .full{
	overflow:hidden;
	border-radius:20px;
	background-color: #f06;
}

/* #viewBox ======================================= */



/* #popolBox ======================================= */
#bestBox{padding-top:70px; padding-bottom: 90px; 
	       box-sizing:border-box;
	       background-color:#fff; }

#bestBox h2{
	width:100%; height:80px;
	margin-bottom:70px;
	font-size:3.5rem; text-align:center; 
	text-transform: uppercase;
}
 
/* #popolBox ======================================= */



/* guide_container : # graphicBox, #graphicSubBox 영역의 통합 디자인
영역  ======================================= */
.guide_container{
						background-color:#999;}

/* #subgraphictBox ======================================= */
.guide_sub_container{ 
	padding-top:120px; padding-bottom:90px;
	background-color:#888;}

/* #grap_tBox ======================================= */



/* #subadBox ======================================= */
#subadBox{padding:30px 90px; box-sizing: border-box;
	        width:100%; height:300px; 
					background-color:#f06; 
}

/* #subadBox ======================================= */



/* #programBox ======================================= */
/*#programBox{ background-color:#777;}*/
/* #programBox ======================================= */


/* #subprogramBox ======================================= */
/* #subprogramBox{background-color:#999;}*/
/* #subprogramBox ======================================= */



/* #certiInfoBox ======================================= */
#certiInfoBox{
	padding-top:30px; padding-bottom:75px; box-sizing: border-box;
	background-color: #f06;
}

/* #infoBox ======================================= */



/* #footBox ======================================= */
#footBox{width:100%; height:60px; text-align:center; 
	      background-color: #333;}

/* #footBox ======================================= */

