@charset "UTF-8"
/*0409_test.css*/


/*Design*/
#wrap{width:1920px; 
      height:auto;
      background-color: #fff}



#headBox{width:100%; 
         height:796px 
         background-color: #ccc;}
 
/* //navBox===============*/
#logo_Box{float:left; width:308px; height: 796px; background-color:#E6E6E6;}
 .unb_Box{width:80px; height:60px; 
          background-color:#999;}
   .unb_Box img{margin:0 20px; width:26px ;height:22px;background-color: red;}
 .nav_box {width:288px; height: 766px; background-color: skyblue;}
 .snsBox {position: relative; top: 348px; left:0px; width:80px; height: 120px; background-color:#999;}
 .minilogo_Box {position:relative; top:30px; margin: 0 auto; width:288px; height:766px; 
                background-color: #666;}

 h1 {position:relative; top:0px; left: 100px; width:140px; height:45px ; padding-top:15px; 
     background-color: #999; font-size:20px; text-align : center;}

#nav_01 {width:;}
#nav_02 {width: 1612px; height: 120px;}






/*viewBox==================================================*/
#viewBox{width:100%; 
        height:676px;
        background-color: #ccc;}



/*usewBox==================================================*/
#useBox{width:100%; 
        height:;
       background-color: #666;}



/*eventBox==================================================*/
#eventBox{width:100%; 
          height:;
          background-color: #999;}



/*infoBox==================================================*/
#infoBox{width:100%; height: 562px;
        background-color: #ccc;}



/*projBox==================================================*/
#projBox{width:100%;  height: 562px;
         background-color: #666;}



/*guideBox==================================================*/
#guideBox{width:100%; 
          height:300px; 
          background-color: #999;}



/*footBox==================================================*/
#footBox{width:100%; 
         height:300px;
         background-color: #ccc;}




