/*test_base*/

#wrap{width:100%; 
      
      background-color: skyblue;}



#headBox{width:100%; 
         
         background-color: red;}




#viewBox{width:100%; 
        background-color: orange;}




#useBox{width:100%; 
       background-color: yellow;}




#eventBox{width:100%; 
          background-color: green;}




#infoBox{width:100%; 
        background-color: blue;}




#projBox{width:100%; 
         background-color: skyblue;}




#guideBox{width:100%; 
          background-color: purple;}




#footBox{width:100%; 
         background-color: pink;}



