/* device : 1920px 기준 입니다. */

@media screen and (min-width: 1920px) {
  
  .middle_name {text-align: center;}


/* haedBox */
#headBox{
  position: absolute; top:0px; z-index: 1000;
  width: 1920px;  height:60px; 
  position: relative;
  border-left: 1px solid #b3a048; 
  border-right: 1px solid #b3a048; 
  border-bottom: 1px solid #b3a048;
  background-color:#fff;

}


.gnbBox {
  margin:auto;
  padding-left:200px;
  box-sizing: border-box; 
  width:1920px; height:60px;
  border: 1px solid #b3a048; 
}

.gnbBox ul {  
  margin:auto;
width: 1400px; height: 300px;
/*
border: 1px solid #b3a048; 
background-color: rgba(255,255,255,0.7);
*/
}



.gnbBox li {
  float: left; display: block; 
      padding:17px; margin-right: 74px; 
      box-sizing: border-box; text-align: center;}

.menu_01.action ,.menu_06.action, .menu_07.action {
  width: 100px; height: 60px;
}					
.menu_02.action ,.menu_03.action {width: 116px; height: 60px;}
.menu_04.action {width: 146px; height: 60px;}					
.menu_05.action {width: 170px; height: 60px;}


.gnbBox dl{
  margin:auto;
  width: 100%; height: auto;
}

.gnbBox dl:hover,
.gnbBox dl:focus {
  background-color: #fff;
}

.gnbBox dd {
  display: none;
position: absolute; z-index: 10;
margin-top: 20px;
width:150px; height: auto;
line-height: 40px;
color:#333;
}

.gnbBox dt:hover,
.gnbBox dt:focus {
display: block;
border-left: 1px solid #b3a048;
border-right: 1px solid #b3a048;
color: #b3a048;
}

.guidesign a{
display: block; width: 100px; height:230px;
}

.guidesign i{
font-size: 3rem;
color:#333;
}


/* ==================================== */
#viewBox {width:1920px; height:832px; 
    background-color:#fff;
    background-image:url('../../img/brain_img/main/1x/viewBox_bgpcfull.png'); 
    background-repeat: no-repeat;
    background-position:50% 50%;
 
}

.new_name {float: left;
       margin-left:312px; padding-top:74px; 
       color:#fff; font-size:36px}

.brain_partners {
      margin-left:649px; padding-top:225px; 
      color:#fff; text-transform: uppercase;
      font-weight: bold;
      font-size:60px;
      letter-spacing: 14px;
      }

/* ===== //headBox ====================================== */
    



/* ===== //introBox ====================================== */
#introBox{
	
	width:1920px; height:668px; background-color:#fff;}

#introBox > h2 {
  margin: auto;
  padding:15px;}

.intro_container {
	     float: left;
		   width:1920px;
			 height:606px; 
			 box-sizing: border-box;
			 background-image: url('../../img/brain_img/main/main_highanaly2.jpg');
			 background-repeat: no-repeat;
			 background-position: 70% 0;
}
/*------------------------------------------------*/
.intro_Box01 {
	            margin-left:250px; margin-top: 2px;
							width:500px;  height:150px;
						  border: 1px solid #fff}

.intro_Box01 > p {
	padding:31px 22px; box-sizing: border-box; color:#fff;
	word-wrap: normal; text-align: justify;
	font-size: 18px; box-sizing: border-box;}



/*------------------------------------------------*/
.intro_Box02 {
	         float: left;
	         margin-top:47px;
	         margin-left:250px; 
	         width:202px; height: 54px;
					 background-image: url('../../img/brain_img/main/ABOUT_US.png');
					 background-repeat: no-repeat;
					 background-position: 0 0;
					 
									}
									
/*------------------------------------------------*/
.intro_Box03 {
	position: relative;
	float: left;
  width: 1400px; height: 508px;}

	
	
	.intro_Box03 dl{
		float: left;
		width: 300px; height: 300px;
		border: 1px solid #fff;
	}
	
	.intro_Box03 dd{
		
		text-align:center; color:#fff; font-size: 1.25rem;}
	.intro_Box03 dt{
	  margin-top: 13px;
		text-align:center; color:#fff; font-size: 1.875rem;}




.item_01 {
	margin-top:45px;
	margin-left: 34px;
	margin-right: 44px; 
}

.item_02 {
	margin-top:30px;
	margin-right:44px;
}

.item_03 { 
	margin-top: 15px;
	margin-right:44px;
}

.item_04 { 
		margin-top: 0px;

}


.intro_Box03 dl div{
	margin: auto;
	margin-top:40px ;
	width:100px; height: 92px;
	background-repeat: no-repeat;
	background-position: 100%;
}



.item_img01{

	background-image: url('../../img/brain_img/main/info.png');}
.item_img02{
	background-image: url('../../img/brain_img/main/analy.png');}
.item_img03{
	background-image: url('../../img/brain_img/main/method.png');}
.item_img04{
	
	background-image: url('../../img/brain_img/main/guide.png');}



/* ===== //introBox ====================================== */
  



/* ===== //analysisBox  ====================================== */
#analysisBox{
	float: left; position: relative; 
	width:1920px; height:788px;   
  background-color: #fff;
}

#analysisBox h2{
	margin-top: 2px;
}

.acc_Box{margin: auto;
				 width:302px; height: 83px;
         background-image: url('../../img/brain_img/pcfull_acc.png');
				 background-repeat: no-repeat;
				 background-position: 100%;
}


#analysisBox ul{
	margin:auto;
	width:1588px; height: 564px;
  }


.more_btn01{float:right;
	          position:absolute; top: 70px; right:432px; bottom:620px; left:1138px;
	          width:112px; height:52px;
						background-image: url('../../img/brain_img/main/more_btn.png');
						background-repeat: no-repeat;
						background-position: 50%;

}

.member_Box{
	position: relative;
	float: left;
	width: 1520px; height: 482px;}


.member_Box li{
	float: left;
}

/* 애널리스트 - 자문위원단*/
.card_01, .card_04, .card_07{
	position:absolute; top: 40px; z-index: 300;
	float: left;
	width:302px; height: 302px;
}
.card_01{ position: absolute; left: 133px;}
.card_04{ position: absolute; left: 665px;}
.card_07{ position: absolute; left: 1202px;}


.card_01{background-image: url('../../img/brain_img/main/jack_intro.png');}
.card_04{background-image: url('../../img/brain_img/main/brain_intro.png');} 
.card_07{background-image: url('../../img/brain_img/main/nious_intro.png');}

.card_02, .card_05, .card_08 {
	width: 450px; height: 480px;
}







/* ===== //analysisBox  ====================================== */




/* ===== //docBox ====================================== */
#docBox{position: relative; float:left; 
	width:1920px; height:548px;
	border-top:1px solid#141A34;
}


#docBox > h2 {
	margin-top:109px;
}



.more_btn02 {float:right;
	position:absolute; top: 142px; right:432px; bottom:620px; left:1183px;
	width:121px; height:30px;
	background-image: url('../../img/brain_img/main/more_viewbtn.png');
	background-repeat: no-repeat;
	background-position: 0 0;
}

.doc_containers {

	margin: auto;
	width: 690px; height: 266px;
	overflow: hidden;

}
.doc_containers > ul {
	position:relative;
	float: left;
	margin-top: 56px;
	width: 1440px; height: 266px;



}

.doc_containers li{

	float: left;
	margin-right: 28px;
	width:calc( 100 / 5);
	background-repeat: no-repeat;
}


.doc_Box a{width: 330px; height: 266px;}
 
.doc_01{
width:330px; height: 266px;
background-image:url('../../img/brain_img/main/content01.png');
background-position: 100%;}

.doc_02{width:330px; height: 266px;
background-image:url('../../img/brain_img/main/content02.png');
background-position: 100%;}

.doc_03{width:330px; height: 266px;
background-image:url('../../img/brain_img/main/report1.jpg');
background-size:330px 366px;}

.doc_04{width:330px; height: 266px;
background-image:url('../../img/brain_img/main/report2.jpg');
background-size:330px 366px;}


.docbtn_Box{
	position: absolute; top: 280px; left:420px; z-index: 50; 
	width:1060px; height: 46px;
}

.prev_btn{

	float: left;
	width:61px; height: 47px;
	background-image: url('../../img/brain_img/main/prev_btn.png');
  background-repeat: no-repeat;
}

.next_btn{
	
	float: right;
	width:61px; height: 47px;
	background-image: url('../../img/brain_img/main/next_btn.png');
  background-repeat: no-repeat;
}

/* ===== //docBox ====================================== */




/* ===== //fam_rateBox ====================================== */
#famBox {
	width: 1920px; height:400px; 
	background-color: #fa0;}


/* ===== //fam_rateBox ====================================== */



/* ===== //eventBox ====================================== */
#eventBox{
	width:1920px; height:250px; 

	background-color:#999;}





/* ===== //eventBox ====================================== */



/* ===== //topbtnBox ====================================== */

#topbtnBox{
	display: none;
	float: right;
	position: absolute; z-index:1000;
	width: 50px;height: 50px;
	background-color: #b3a048 ;
	border-radius: 10px;

}

#topbtn_Box span{
	width: 50px; height: 50px;
	margin:4px 1px;
	display: inline-block;
	color:#f0a;
	font-size: 1.5rem;
  text-transform: capitalize;
}



/* ===== //footBox ====================================== */
#footBox{
	float: left;
  border-top:1px solid #fff;
	width:1920px; height:200px; background-color:#141A34;}

#footBox > h2{
	float: left;
  margin-top:32px; margin-left:98px;
	width: 165px; height: 128px;
	background-image: url('../../img/brain_img/foot_logo.png');
	background-repeat: no-repeat;
	background-position: 100%;
}



.foot_Box01 > ul{
	margin-top:17px; margin-left: 340px;
	width: 248px; height: 24px;
	

}

.foot_Box01 li{
	float: left;
  color:#fff;
  text-align: center;
}

.foot_Box01 li:nth-child(1){
	width: 150px; height: 24px;
	margin-right: 30px;
}

.foot_Box02 > address{
	margin-top: 18px;
 margin-left: 344px;
	width:1000px; height: 100px;

}

.foot_Box02 p{
 color: #fff ;
 text-align: justify;
 
}


}