/* p1_base.css*/

#wrap{position:relative;
  margin:auto;
 height:auto;}

  #headBox{position: relative; 
    width:100%; height:60px; 
    background-color:#fff;}

.logoBox {
  position: absolute; top:0; z-index: 100;
margin-left:40px; 
box-sizing:border-box; 
width:222px; height: 167px; 
background-color:rgba(255, 255, 255, 0);
background-image: url('../../img/brain_img/main/1x/logo_text.png');
background-repeat: no-repeat;
background-position:0 0;
}


#viewBox {
  width:100%; height:832px; 
	background-color:#fff;
}


/* ===== //introBox ====================================== */
#introBox{
	
	width:100%; height:668px; background-color:#fff;}

#introBox > h2 {padding:15px;}




/* ===== //analysisBox  ====================================== */
#analysisBox{
	float: left; position: relative; 
	width:100%; height:788px;   
  background-color: #fff;
}

#analysisBox h2{
	margin-top: 2px;
}



/* ===== //docBox ====================================== */
#docBox{position: relative; float:left; 
	width:100%; height:548px;
	border-top:1px solid#141A34;
}


#docBox > h2 {
	margin-top:109px;
}






/* ===== //footBox ====================================== */
#footBox{
	float: left;
  border-top:1px solid #fff;
	width:100%; height:200px; background-color:#141A34;}

#footBox > h2{
	float: left;
  margin-top:32px; margin-left:98px;
	width: 100%; height: 128px;
	background-image: url('../../img/brain_img/foot_logo.png');
	background-repeat: no-repeat;
	background-position: 100%;
}


          