/* device : 1920px 기준 입니다. */

@media screen and (min-width: 1441px) {
  


/* haedBox */
#headBox{position: relative; 
	width:1920px; height:60px; 
	background-color:#fff;}


.gnbBox {
  float: left;
  margin:auto;
  padding-left:354px;
  box-sizing: border-box;  
  width:1920px; height:auto;}

.gnbBox ul { 
position: absolute; top:0px; z-index:20;
width: 1400px; height: 300px;
}


.gnbBox li {float: left; 
      padding:17px; margin-right: 74px; 
      box-sizing: border-box; text-align: center;}

.menu_01.action ,.menu_07.action {width: 100px; height: 60px;}					
.menu_02.action ,.menu_03.action {width: 116px; height: 60px;}
.menu_04.action {width: 146px; height: 60px;}					
.menu_06.action {width: 126px; height: 60px;}
.menu_05.action {width: 170px; height: 60px;}


.gnbBox dd {
display:none;
margin-top: 20px;
width:150px; height: auto;
line-height: 40px;
}

.gnbBox dt:hover,
.gnbBox dt:focus {
border: 1px solid #b3a048;
color: #b3a048;
}

.guidesign a{
display: block; width: 100px; height:230px;
}

.guidesign i{
font-size: 3rem;
color:#333;
}


/* ==================================== */
#viewBox {width:1920px; height:832px; 
    background-color:#fff;
    background-image:url('../../img/brain_img/main/1x/viewBox_bgpcfull.png'); 
    background-repeat: no-repeat;
    background-position:50% 50%;
}

.new_name {float: left;
       margin-left:312px; padding-top:74px; 
       color:#fff; font-size:36px}

.brain_partners {
      margin-left:649px; padding-top:225px; 
      color:#fff; text-transform: uppercase;
      font-weight: bold;
      font-size:60px;
      letter-spacing: 14px;
      }

/* ===== //headBox ====================================== */
    }