/* 0612mob.css */


@media screen
and (max-width:639px) {
 
#wrap {width:100%;
  margin:auto; 
  height:auto;}
/*rwd_03_base.css*/


#head_Box {
  position: fixed;  
  top:0;  left:0;
  z-index:1000;
  
  width:320px;
  width:20rem;
  height:140px; 
  height:8.75rem;
  
  
  background-color: rgba(255,255,255,0.5)}
  
  h1{
    padding:18px;
    margin:auto;
  }


  #navi{
  width:320px;
  width:20rem;
  padding: 8px 10px;
  box-sizing: border-box;
  height:60px;
  height:3.75rem;
}


#navi > button{
  width: 52px; 
  width: 3.25rem; 
  height:52px;
  height:3.25rem;
  background-color: #45b;
}

.unbBox{display: none;}

.gnbBox{
  float:right;
  height:40px;
  height:2.5rem;
}



.unbBox{
  float: left;
  height:40px;
  height:2.5rem;
}

.unbBox dl > dt {
  display: none;

}

/*==========*/

#viewBox {
width:100%;
height: 476px;
height: 29.75rem;
background-color: #ba7;}


/*==========*/
#eventBox {
width:100%; 
height:660px;
height:41.25rem;
background-color: #547D77;
}

/*==========*/
#newsBox {
width: 100%;
background-color:#c9f;
}



#story{
  width:100%;
  background-color: #957de9;
}

#memberBox{
  width: 100%;
  height: 400px;
}

#memberBox > h2{}

.pic_01 p{
  text-align: center;
}
#memberBox > button{
  width:320px; height: 60px;
  width:20rem; height: 3.75rem;
  background-color: #0B1915;
}

.pic_01 { 
  width:100%; height:400px;
  height:25rem;
  background-color:#183029;
}
.pic_02 { display: none;} 

#topjoneBox{
  width: 100%; 
  height: 150px;
  height: 9.375rem;
}

.topbtn_Box01 {
  float: right;
  margin: auto;  margin-top: 37px; margin-right:30px;
  width:76px; height:76px;
  background-size: 76px 76px;
  background-image: url('../../img/1x/topbtn_01.png');
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 4px;
  text-align: center;
  
}


.topbtn_Box02 {
  float: right; margin-right:60px;
  margin-top: 60px;
  margin: auto; margin-top: 14px;
  width:20px; height:12px;
  margin: auto; margin-top: 14px;
  background-image:url('../../img/1x/topbtn_02.png');
  background-repeat: no-repeat;
  background-position: center;
}



/*==========*/

#footBox{
  width:100%;
  height: 856px;
  height: 53.5rem;

}

.infoBox_01{
  margin: auto;
  width: 320px;
  height: 284px;
}

.infoBox_01 > li{
  margin: auto;
  padding-top:20px; box-sizing:border-box;
}

.info_01,.info_02,.info_05{
  width:100px; 
  width:6.25rem; 
  height: 46px;
  height: 2.875rem;


}

.info_03,.info_06 {
  width:170px; 
  width:10.625rem; 
  height: 46px;
  height: 2.875rem;
 
}

.info_04{width: 260px; height: 46px;}


#footBox > address { 
  height: 400px; 
  height: 25rem; 
}

.padd_01 {
 padding:22px;
 margin:auto;
}

.famsite_Box{
  width:228px; height:130px;
}

.fb,.insta,.youtube,.naver{
  float: left;
  width:46px; height: 46px;
  background-size: 46px 46px;
  background-repeat: no-repeat;
}


/*
.address{}
*/

/* @media end  */
}