/* 0612base.css */
/* base */
/* 기준이 되는 크기(16px) == 12pt == 100% == 1em == 1rem */
/* vw 는 view width의  약자로, 브라우저의 가로값을 100% 기준으로 잡는 크기 단위*/
/* vh는 view height약자로, 브라우저의 세로값을 100% 기준으로 잡는 크기 단위*/
/* vw기준으로 사이즈 측정방법 : 기준수치(60px 예시) /  기준브라우저 가로값(320px) *100(100분율) */


#wrap {width:100%; 
  height:auto;
  margin:auto;
}
/*rwd_03_base.css*/
/* ============================================================= */
#headBox{
  width:100%;
  height:140px;
  height:8.75rem;
  height:43.75vw;
  background-color:#ccc;
}

h1{
  width: 132px;
  width: 8.25rem;
  height: 46px;
  height: 2.875rem;

   margin:auto;
   background-image: url('../../img/forest_logo/img_logo_re_forest.png');
   background-repeat: no-repeat;
   background-position: 50% 50%;
  }


   #navi{
     width:100%;
     height:120px;
     height:8.75rem;
   
   }
   .gnbBox{
     width:100%;
    height:24px;
    height:1.5rem;
    background-color:#fa0;}

   .unbBox{
     width:100%;
    height:34px;
    height:2.125rem;

    
    background-color:#fd9;}
   


/* viewBox ================================================*/
#viewBox{
  width:100%;
  height: 950px;
  height: 59.375rem;
  background-color:#af9;
}

/* viewBox ================================================*/


/* eventBox ================================================*/
#eventBox{
  width:100%;
  height: 642px;
  height: 40.125rem;
  background-color:#9af;
}
/* eventBox ================================================*/


/* newsBox ================================================*/
#newsBox{
  width:100%;
  height: 660px;
  height: 41.25rem;
  background-color:#c9f;
}
/* newsBox ================================================*/


/* storyBox ================================================*/
#storyBox{
  width:100%;
  height: 600px;
  height: 950px;
  background-color:#69f;
}
/* storyBox ================================================*/


/* momentBox ================================================*/
#momentBox{
  width:100%;
  height: 900px;
  height: 56.25rem;
  background-color:#fca;
}
/* momentBox ================================================*/


/* memberBox ================================================*/
#memberBox{
  width:100%;
  height: 400px;
  height: 25rem;
  background-color:#fac;
}
/* memberBox ================================================*/


/* topjoneBox ================================================*/
#topjoneBox{
  width:100%;
  height: 150px;
  height: 9.375rem;
  background-color:#afc;
  
  
}

.topbtn_Box01 {
  float: right; position: relative;
  margin: auto; margin-right:30px;
  width:76px; height:76px;
  background-size: 84px 84px;
  background-image: url('../../img/1x/topbtn_01.png');
  border:1px solid #183029;
  border-radius: 4px;
  text-align: center;
  
}



.topbtn_Box01 {
  position: absolute; top: 0; left:0; right:0; z-index: 1000;
  width:20px; height:12px;
  margin: auto; margin-top: 14px;
  background-image:url('../../img/1x/topbtn_02.png');
  background-repeat: no-repeat;
  background-position: 0 0;
}


/* topjoneBox ================================================*/


/* footBox ===============================================*/
#footBox{
  width:100%;
  height: 856px;
  height: 53.5rem;
  background-color: #fff;
  color:#1D1D1D;
}

.infoBox_01{
  margin: auto;
  width: 320px;
  height: 284px;
  height: 17.75rem;
  color:#1D1D1D;
}

.infoBox_01 > li{
  margin: auto;
  padding-top:20px; box-sizing:border-box;
}

.info_01,.info_02,.info_05{
  width:100px; 
  width:6.25rem; 
  height: 46px;
  height: 2.875rem;


}

.info_03,.info_06 {
  width:170px; 
  width:10.625rem; 
  height: 46px;
  height: 2.875rem;

}

.info_04{
  width: 260px; 
  height: 46px;
  height: 2.875rem;

}


#footBox > address { 
  height: 400px; 
  height: 25rem; 
  color:#1D1D1D;

}

.padd_01 { 
 padding:22px;
 margin:auto;
}

.famsite_Box{
  position: relative;
  padding:5px;box-sizing: border-box;
  margin:auto; margin-top: 20px; margin-bottom: 20px;
  width:228px; height:130px;
  width:14.25rem; height:8.125rem;
  border:1px solid  #183029;
  border-radius: 4px;
  color:#1D1D1D;

}


.gobtn_Box{
  float: right; position: absolute; top:0; left:180px;
  width: 40px; height: 40px;
  width: 2.5rem; height: 2.5rem;
  background-color: #416200;
  border-radius: 4px;
  color: #fff;
  text-align: center;
}

.fb,.insta,.youtube,.naver{

  float: left;
  width:46px; height: 46px;
  width:2.875rem; height: 2.875rem;
  background-size: 46px 46px;
  background-repeat: no-repeat;
}

.fb     {
  position: absolute; bottom:0;
  background-image: url('../../img/sns_icon/f_logo_RGB_Black_58.png');}
.insta{
  position: absolute; left:90px; bottom:0;
  background-image: url('../../img/sns_icon/insta_logo.png');}
.naver{
  position: absolute; left:180px; bottom:0;
  background-image: url('../../img/sns_icon/never_icon.png');}



/* footBox ================================================*/




   /* ============================================================= */
 