/* 0612pc.css */

@media screen
and (min-width:1024px)
and (max-width:1439px) {

  /* ==================== */
  
  
  
#wrap {
  width: 100%;
  height: auto;
  background-color: #ffa;}


  #headBox{
    width:100%;
    height:140px;
    height:8.75rem;
    background-color:#ccc;
  }


  h1{
    width: 132px;
    width: 8.25rem;
    height: 46px;
    height: 2.875rem;
    margin:auto;
  }  



#viewBox {
height: 555px;
height: 34.6875rem;
}
/* @media end  */




/* ==================== */


#wrap {width:100%; 
  height:auto;
  margin:auto;
}
/*rwd_03_base.css*/
/* ============================================================= */
#headBox{
  width:100%;
  height:140px;
  height:8.75rem;
  height:43.75vw;
  background-color:#ccc;
}

h1{
  width: 132px;
  width: 8.25rem;
  height: 46px;
  height: 2.875rem;
   margin:auto;
   background-image: url('../../img/forest_logo/img_logo_re_forest.png');
   background-repeat: no-repeat;
   background-position: 50% 50%;
  }



   #navi{
     width: 100%;
     height:140px;
     height:8.75rem;
    background-color:#666;
   }
   .gnbBox{
    width: 60px;
    width: 3.75rem;
    height:40px;
    height:2.5rem;
    background-color:#888;}

   .unbBox{
    width: 60px;
    width: 3.75rem;
    height:40px;
    height:2.5rem;

    
    background-color:#888;}
   


/* viewBox ================================================*/
#viewBox{
  width:100%;
  height: 475px;
  height: 29.6875rem;
}

/* viewBox ================================================*/


/* eventBox ================================================*/
#eventBox{
  width:100%;

}
/* eventBox ================================================*/


/* newsBox ================================================*/
#newsBox{
  width:100%;

}
/* newsBox ================================================*/


/* storyBox ================================================*/
#storyBox{
  width:100%;

}
/* storyBox ================================================*/


/* momentBox ================================================*/
#momentBox{
  width:100%;

}
/* momentBox ================================================*/


/* memberBox ================================================*/
#memberBox{
  width:100%;

}
/* memberBox ================================================*/


/* topjoneBox ================================================*/
#topjoneBox{
  width:100%;

}
/* topjoneBox ================================================*/


/* footBox ===============================================*/
#footBox{
  width:100%;

}

/* @media end  */
}