#wrap {width:100%; 
  height:auto;
  margin:auto;
}
/*rwd_03_base.css*/
/* ============================================================= */
#headBox{
  width:100%;
  height:140px;
  height:8.75rem;
  height:43.75vw;
  background-color:#ccc;
}

h1{
  width: 132px;
  width: 8.25rem;
  height: 46px;
  height: 2.875rem;

   margin:auto;
   background-image: url('../../img/forest_logo/img_logo_re_forest.png');
   background-repeat: no-repeat;
   background-position: 50% 50%;
  }


   #navi{
     width:100%;
     height:120px;
     height:8.75rem;
   
   }
   .gnbBox{
     width:100%;
    height:24px;
    height:1.5rem;
   }

   .unbBox{
     width:100%;
    height:34px;
    height:2.125rem;
}
   


/* viewBox ================================================*/
#viewBox{
  width:100%;
  height: 950px;
  height: 59.375rem;
  background-color:#af9;
}

/* viewBox ================================================*/


/* topjoneBox ================================================*/
#topjoneBox{
  position:relative; z-index: 10;
  width:100%;
  height: 150px;
  height: 9.375rem;
  background-color:#fff;
  border-top: 1px solid #416200;
  border-bottom: 1px solid #416200;
  
  
}

.topbtn_Box01 {
  
  margin: auto;  margin-top: 37px; margin-right:30px;
  width:76px; height:76px;
  background-size: 76px 76px;
  background-image: url('../../img/1x/topbtn_01.png');
  background-repeat: no-repeat;
  background-position: center;
 
}



.topbtn_Box02 {
  position: absolute; top:36px; right:58px;
  width:20px; height:12px;
  background-image:url('../../img/1x/topbtn_02.png');
  background-repeat: no-repeat;
  background-position: center;
}


/* topjoneBox ================================================*/


/* footBox ===============================================*/


/* footBox ================================================*/
