/* resomSubP_01pcfull.css*/
/* device : pcfull ( 1440px - )기준입니다.*/

@media all and (min-width:1440px){

  :root{
    font-family: sans-serif, 'nanumbarungodic';
  }

  p{
    text-align: justify;
  }

#wrap{
  width: 100%; height: auto;
  margin: auto;
}

#headBox{
  width: 100%; height: 240px;
 background-color: #fff;
}




/* navigation =================== */

#navi { 
  width:100%;
  height:120px;
  border: 1px solid #444;

}

#navi > button {
  display: none;
}

.gnbBox{
  margin-top:8px; margin-right: 34px;
  float:right;
  width: 504px; height: 34px;
}
.gnbBox:hover, .gnbBox:focus{
  border-left:1px solid #5aa;
  border-right:1px solid #5aa;
}

.gnbBox li{
  float:left;
  margin-right:10px; padding-top:6px;
  text-align:center;
}

.gnbtn_01{width: 150px; height:34px;}

.gnbtn_02,.gnbtn_03,
.gnbtn_04,.gnbtn_05{width:76px; height:34px;}



.gnbBox li:hover,
.gnbBox li:focus{
  color:#416200;
  border-bottom: 2px solid #416200;
}

/*======= */

.unbBox{
  width:980px;
  height:40px;
  margin-left:320px; margin-top:64px;
  border:1px solid #5aa;
  padding:8px; box-sizing: border-box;
  border-radius: 8px;

}

.unbBox > ul{
  margin: auto;
}

.unbBox dl {
  float: left;
}

.unbBox dt{
  width:110px; height:34px;
  margin-right:40px;
  text-align: center;
}
.unbBox dd{
  display:none;
}

.unbBox dt:hover,
.unbBox dt:focus{
  color:#416200;
  border-bottom: 2px solid #416200;
}




/* viewBox ================================================*/
#viewBox{
  width:100%;
  height:522px;
  background-color: #fff;
}

.pic_container{
  width: 100%; height:522px;
  background-size: 100%;
  background-image: url('../../img/forest_intro/intro_mountain05.jpg');
  /*background-position: 10% 30%;*/
  /*background-position: 90% 60%;*/
  background-position: 70% 50%;
  background-repeat: no-repeat;
}




/* viewBox ================================================*/

/* quickBox ====================================================== */

#quickmenuBox{
  position: relative;
  width: 100%; height: 96px;
  border-bottom: 1px solid #bcc;
}

.quickBox{
  position: absolute; top:50px; left:0; right:0;
  margin:auto;
  width: 324px; height:45px;
  border:1px solid #bcc;
  border-radius: 10px;
}

.quickBox a{
 float: left;
 padding:10px; box-sizing: border-box;
 width: 160px; height: 44px;
 text-align: center;
}

.quick_01 a{
  margin-right:2px;
  border-right: 1px solid #bcc;

}


.quick_01 a:hover, 
.quick_01 a:focus{
  box-shadow: 0.1rem 0.3rem 0.3rem 0 #bcc;
  }
.quick_02 a:hover,.quick_02 a:focus{
  box-shadow: 0.1rem 0.3rem 0.3rem 0 #bcc;
  }
/* quickBox ====================================================== */


/* #introBox ====================================================== */


#introBox {
  margin: auto;
  width:100%; height:1052px;
  padding: 56px 90px 56px 90px; box-sizing: border-box;
}

#introBox > h2{
  width: 160px; height: 44px;
}

.intro_container{
  position: relative;
  width:1326px; height:970px;
}

.introtext_01{
  position: absolute; z-index: 100;
  width:700px; height:374px;
  background-color: rgba(255,255,255,0.7);
}

.introtext_02{
  position: absolute; top:30px; right:0; z-index: 200;
  float: right;
  width:480px; height:300px;
  background-color:rgba(255,255,255,0.9);
  border-radius: 10px;
}

.introtext_02 dt{
  width: 140px; height: 30px;
  font-weight: bold;
}

.introtex_02 dd{
  width:140px; height: 60px;
}

.intropic{
 position: absolute; top:0; left:0; right:0; bottom:0;
 margin: auto;
 width: 1060px; height: 600px;
 background-image: url('../../img/forest_intro/forest_resom_infoimage/forest_concept_01.jpg');
 background-repeat: no-repeat;
 background-position: 0 0;
}



/* topjoneBox ================================================*/



#topjoneBox{
  position: relative;
  width:100%;
  height: 150px;
 
  background-color:#fff;
  border-top: 1px solid #416200;
  
  
}

.topbtn_Box01 {
  
  float: right;
  width:76px; height:76px;
  background-size: 76px 76px;
  background-image: url('../../img/1x/topbtn_01.png');
  background-repeat: no-repeat;
  background-position: center;
 
  
}



.topbtn_Box02 {
  position: absolute;
  margin: auto; margin-top: 14px;
  width:20px; height:12px;
  background-image:url('../../img/1x/topbtn_02.png');
  background-repeat: no-repeat;
  background-position: center;
}


/* topjoneBox ================================================*/



/* footBox ===============================================*/
#footBox{
  position: relative;
  float: left;
  padding:40px 50px 20px 20px; box-sizing:border-box;
  width:100%;
  height: 340px;
  height: 21.25rem;
  background-color: #fff;
  border-top: 1px solid #333;
  color:#1D1D1D;
  /*padding-bottom: 50px; box-sizing: border-box;*/
}

/*=============================*/
.infoBox_01{
  margin: auto;
  width: 990px; height: 46px;
  color:#1D1D1D;
}

.infoBox_01 > li{
  float: left;
  margin-right:14px;
  border-right:1px solid #416200;
  padding-top:8px; box-sizing:border-box;
}

.info_01,.info_02,.info_05{
  width:100px; 
  width:6.25rem; 
  height: 46px;
  height: 2.875rem;
}

.info_03,.info_06 {
  width:170px; 
  width:10.625rem; 
  height: 46px;
  height: 2.875rem;
}

.info_04{
  width: 260px; 
  height: 46px;
  height: 2.875rem;

}

/*===============================*/


#footBox > address { 
  margin: auto;
  width:1170px;
  height: 200px; 
  height: 12.5rem;
  color:#1D1D1D;
 
}



.padd_01 { 
 padding:20px;
 margin:auto;
}



.footgnbBox{
  position: absolute; top:40px; right:238px;
  width:228px; height: 130px;}

.famsite_Box{
  float: left;
  width:128px; height:46px;
  width:14.25rem; height:8.125rem;
  color:#1D1D1D;
  border:1px solid #fa0;
}

.famsite_Box button{
  display:none;
}

.gobtn_Box {
  width: 46px; height:46px;
}


.gobtn_Box a{

  width: 46px; height: 46px;
  width: 2.875rem; height: 2.875rem;
  border-radius: 4px;
  background-color: #416200;
  color: #fff;
  text-align: center;
}


.snsBox{
  width:226px; height:47px;
  margin-left:42px;
  background-color: #333;

}

.fb,.insta,.naver{

  float: left;
  width:46px; height: 46px;
  width:2.875rem; height: 2.875rem;
  background-size: 46px 46px;
  background-repeat: no-repeat;
}

.fb     {
  position: absolute; bottom:0;
  background-image: url('../../img/sns_icon/f_logo_RGB-Blue_72.png');}
.insta{
  position: absolute; left:90px; bottom:0;
  background-image: url('../../img/sns_icon/insta_logo.png');}
.naver{
  position: absolute; left:180px; bottom:0;
  background-image: url('../../img/sns_icon/never_icon.png');}




}


/*media end*/