/* resomSubP_01pcfull.css*/
/* device : pcfull ( 1440px - )기준입니다.*/

@media all and (min-width:640px)and (max-width:1023px){

  :root{
    font-family: sans-serif, 'NanumBarunGothic';
  }

  p{
    height: auto;
    text-align: justify;}

  h2{
    height:2rem;
    font-size: 2rem;}

#wrap{
  width: 100%; height: auto;
  margin: auto;
}

#headBox{
  width: 100%; height: 240px;
 background-color: #fff;
}




/* navigation =================== */

#navi { 

  width:100%;
  height:120px;
  padding-left:40px; padding-top:30px;
  box-sizing: border-box;
  border-top: 1px solid #444;
  border-bottom: 1px solid #444;

}

.gnbtn_bar{
  display: block;
  float:left;
  width:52px; height: 52px;
  background-size: 52px 52px;
  background-image: url('../../img/1x/close_btn01.png');
  background-repeat: no-repeat;
  background-position: 0 0;
}

.gnbBox{
  display: none;
  margin-top:10px;  margin-right: 34px;
  padding-left:2px; box-sizing: border-box;
  float:right;
  width: 510px; height: 34px;
}
.gnbBox:hover, .gnbBox:focus{
  border-left:1px solid #5aa;
  border-right:1px solid #5aa;
}

.gnbBox li{
  float:left;
  padding-top:6px;
  text-align:center;
}

.gnbtn_01{
  margin-right:10px;
  width: 150px; height:34px;}

.gnbtn_02,.gnbtn_03,
.gnbtn_04,.gnbtn_05{
  margin-right:10px;
  width:76px; height:34px;}

.gnbtn_05{width:76px; height:34px;}

.gnbBox li:hover,
.gnbBox li:focus{
  color:#416200;
  border-bottom: 2px solid #416200;
}

/*======= */

.unbBox{
  display: none;
  width:640px;
  height:40px;
   margin-top:64px;
  border:1px solid #5aa;
  padding:8px; box-sizing: border-box;
  border-radius: 8px;

}

.unbBox > ul{
  margin: auto;
}

.unbBox dl {
  float: left;
  padding-left:28px;
  box-sizing: border-box;
}


.unbtn_01, .unbtn_02, .unbtn_03, 
.unbtn_04,.unbtn_05{
  width:110px; height:34px;
  margin-right:60px;
  text-align: center;
}


.unbtn_06{
  width:110px; height:34px;
  
  text-align: center;
}

.unbBox dd{
  display:none;
}

.unbBox dt:hover,
.unbBox dt:focus{
  color:#416200;
  border-bottom: 2px solid #416200;
}




/* viewBox ================================================*/
#viewBox{
  width:100%;
  height:522px;
  background-color: #fff;
}

.pic_container{
  width: 100%; height:522px;
  background-size: 100% 522px;
  background-image: url('../../img/forest_intro/intro_mountain05.jpg');
  /*background-position: 10% 30%;*/
  /*background-position: 90% 60%;*/
  background-position: 70% 50%;
  background-repeat: no-repeat;
}




/* viewBox ================================================*/

/* quickBox ====================================================== */

#quickmenuBox{
  position: relative;
  width: 100%; height: 96px;
  border-bottom: 1px solid #bcc;
}

.quickBox{
  position: absolute; top:50px; left:0; right:0;
  margin:auto;
  width: 324px; height:45px;
  border:1px solid #bcc;
  border-radius: 10px;
}


.quickBox button{
 float: left;
 padding:10px; box-sizing: border-box;
 width: 160px; height: 44px;
 text-align: center;
 font-size:1rem;
}

.quick_01 button{
  margin-right:2px;
  border-right: 1px solid #bcc;

}


.quick_01 button:hover, 
.quick_01 button:focus{
  box-shadow: 0.1rem 0.3rem 0.3rem 0 #bcc;
  }
.quick_02 button:hover,.quick_02 a:focus{
  box-shadow: 0.1rem 0.3rem 0.3rem 0 #bcc;
  }
/* quickBox ====================================================== */


/* #introBox ====================================================== */



#introBox {
  position: relative;
  margin: auto;
  width:100%; height:1224px;
  padding: 56px 2px 0px 2px; 
  box-sizing: border-box;

}

.intro_container00{
  margin:auto;
  width: 640px; height:1224px;
  overflow: hidden;
}
.intro_container00 > h2{
  width: 160px; height: 44px;
  font-size:3rem;
}

.intro_container01{
  position: relative;
  margin:auto;
  width:640px; height:872px;
}

.introtext_01{
  position: absolute; top:20px; left:0; right:0; z-index: 100;
  width:640px; height:400px;
  padding: 2px 20px 2px 20px; box-sizing: border-box;
  border-radius: 10px;
  background-color: rgba(255,255,215,0.7);
  text-align: justify;
}

.introtext_02{
  position: absolute; top:820px; left:0; right:0; z-index: 200;
  margin:auto;
  width:500px; height:300px;
  padding:1px; box-sizing: border-box;
  background-color:rgba(255, 255, 255,0.7);
  border-radius: 10px;
  text-align: justify;
}

.introtext_02 dt{
  width: 500px; height: 40px;
  padding:4px; 
  font-weight: bold;
  font-size:1.1rem;
  line-height: 2px;
}

.introtext_02 dd{
  width:480px; height: 50px;
}



.introtext dt > img{
  width: 40px; height: 40px;
border-radius: 100%;

}

.introtext > span{
  width: 100px; height: 40px;
  padding:10px; box-sizing: border-box;
}




.intropic{
 position: absolute; top:350px; left:0; right:0; bottom:0;
 margin: auto;
 width: 100%; height: 600px;
 background-size: 100% 500px;
 background-image: url('../../img/forest_intro/forest_resom_infoimage/forest_concept_01.jpg');
 background-repeat: no-repeat;
 background-position: 0 0;
}


/* ============================= */
.intro_container02{
  
  margin:auto;
  padding:1px; box-sizing: border-box;
  width:100%; height:1224px;
 
}

.introcon_Box{
  margin: auto;
  width: 100%; height: 90000px;
}

.introcon_Box > p{
  margin-top: 100px;
  width:100%; height: 40px;
  text-align: justify;
}

.introcon_Box  > ul{
  margin: auto;
  margin-top:50px;
  width: 100%; height: 1500px;

}

.introcon_Box li{
  width:100%; height:10000px;
  background-repeat: no-repeat;
  background-position: 100 100;
}


.load_01{
  margin: auto;
  width:100%; height:450px;max-height: 800px;
  background-size:100%;
  background-image: url('../../img/forest_intro/resort_concept_map1.jpg');
  background-repeat: no-repeat;
}

.load_02{
  margin: auto;
  width: 100%; height: 600px; max-height: 800px;
  background-size:100%;
  background-image: url('../../img/forest_intro/resort_concept_map2.jpg');
  background-repeat: no-repeat;
  
}

/* topjoneBox ================================================*/



#topjoneBox{
  margin-top: 100px;
  width:100%;
  height: 150px;
 
  background-color:#416200;

}

.topbtnBox{
  position: relative;
  margin-right:100px;
  float: right;
  width: 76px; height:76px;
}



.arrowbtn_Box {
  position: absolute; top:50px; left:26px;
  margin: auto;
  width:20px; height:12px;
  background-image:url('../../img/1x/topbtn_02.png');
  background-repeat: no-repeat;
  background-position: center;
}


.topbtn_Box {
  
  float: right; margin-right:50px;
  width:76px; height:76px;
  background-size: 76px 76px;
  background-image: url('../../img/1x/topbtn_01.png');
  background-repeat: no-repeat;
  background-position: center;
  
}




/* topjoneBox ================================================*/



/* footBox ===============================================*/
#footBox{
  position: relative;
  padding:40px 10px 10px 10px; box-sizing:border-box;
  width:100%;
  height: 510px;
  background-color: #fff;
  border-top: 1px solid #333;
  color:#1D1D1D;
  /*padding-bottom: 50px; box-sizing: border-box;*/
}

/*=============================*/
.infoBox_01{
  margin: auto;
  width: 570px; height: 80px;
  color:#1D1D1D;
  border:1px solid #5aa;
  border-radius: 10px;
}


.infoBox_01 > li{
  float: left;
  padding:4px; 
  box-sizing: border-box;
  height:46px;
  font-size:1.1rem;
}

.info_01{margin-left:80px;}
.info_01,.info_02,.info_05{
  margin-right:14px;
  width:90px; 
  width:6.25rem; 
  height: 46px;
  height: 2.875rem;
}

.info_01,.info_02{padding-bottom:20px; box-sizing: border-box;}


.info_03{width:154px; height:46px;padding-bottom: 20px; box-sizing: border-box;}

.info_06 {
  width:170px; 
  width:10.625rem; 
  height: 46px;
  height: 2.875rem;
  margin-right:4px; 
}



.info_04{
  width: 260px; 
  height: 46px;
  height: 2.875rem;
  margin-left:4px; 
  margin-right:14px;
}


/*===============================*/


#footBox > address { 
  margin: auto;
  padding-top:20px; padding-bottom:20px; box-sizing: border-box;
  width:100%;
  height: 200px; 
  color:#1D1D1D;
}

address > ul{
  margin: auto;
}


#footBox > address > p{
  float: left;
}

#footBox > address > p:last-child{
  text-transform: uppercase;
}


address > ul > li{
  float: left;
  padding:1px; box-sizing: border-box;
  margin-right:20px;
  
}





/*famsite and snsBox==========*/
.famsnsBox{
 margin:auto; 
  width: 274px; height: 130px;
}

.footgnbBox{
  position: relative;
  width:274px; height: 46px;
}

.footgnbBox dt{
  border:1px double #416200;
  border-radius: 4px;
}

.footgnbBox dt > i{
  float: right; margin-top:4px;
  width: 40px; height: 40px;
}

.footgnbBox dt, .footgnbBox dd{
  padding:10px; box-sizing: border-box;
  width:200px; height: 46px;
  text-align: center;
  font-size: 1rem;
}

.footgnbBox  dd{
 display: none;
}

.footgnbBox > button{
  position:absolute; top:0; right:1px;
  width: 46px; height: 46px;
  border-radius: 4px;
  background-color: #416200; 
  color: #fff;
  font-size: 1rem;
}





.fb,.insta,.naver,.youtube{

  float: left;
  margin-top:40px;
  margin-right:30px;
  width:46px; height: 46px;
  width:2.875rem; height: 2.875rem;
  background-size: 46px 46px;
  background-repeat: no-repeat;
}



.fb     {
 margin-top:48px;
 /* position: absolute; bottom:0;*/
  background-image: url('../../img/sns_icon/f_logo_RGB-Blue_72.png');}
.insta{
  
  /*position: absolute; left:90px; bottom:0;*/
  background-image: url('../../img/sns_icon/insta_logo.png');}
.naver{
  
  /*position: absolute; left:180px; bottom:0;*/
  background-image: url('../../img/sns_icon/never_icon.png');}

  .youtube{
    /*position: absolute; left:180px; bottom:0;*/
    background-image: url('../../img/sns_icon/youtube_social_icon_dark.png');}
  
  
  }
/*media end*/